<!-- add odometer and new/used status -->
<div class='card_left'>
  <div class='card_header'>
    <h4><%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %></h4>
    <h5><%= vehicle.color %></h5>
  </div>
  <div class='car_picture'>
    i'm a picture<!-- last uploaded vehicle pic goes here or if there isn't one we need a place holder -->
  </div>
  <div>
    <p>MSRP: <%= vehicle.msrp %></p>
    <p>Stock Number: <%= vehicle.stock_no %></p>
    <p>Vin: <%= vehicle.VIN %></p>
  </div>
</div>

<div class='card_right'>
  <p>Status: Hold in F and I</p>
  <p>Status applied by: Tony S.</p>
</div>