Import Inventory:

<!-- I'd much rather make an API call to ford but they aren't playing nice -->

<%= form_tag vehicles_import_path, multipart: true do %>
  <%= file_field_tag :file %><br>
  <%= select_tag "new_or_used", "<option>New</option><option>Used</option>".html_safe %><br>
  <%= submit_tag "Import CSV" %>
<% end %>

<br>
<br>

<div class = 'message'>
<%= flash[:message] if flash[:message] %>
</div>
